.navbar
  .overview
    = material_icon.arrow_back.md_36
  .title BASIN_METRICS
  .logout
    .user_name
      - if current_user
        = link_to("<span>Logout #{current_user.first_name.downcase.titleize}</span> &nbsp #{material_icon.input.md_36}".html_safe, destroy_user_session_path, :method => :delete)