<div class="main">

	<!--<table>-->
		<!--<th>Title</th>-->
		<!--<th>Body</th>-->
		<!--<th>Rating</th>-->
		<!--<th><th><th>-->

		<!--<%# @articles.each do |article| %>-->
			<!--<tr>-->
				<!--<td><%#= article.title %></td>-->
				<!--<td><%#= article.body %></td>-->
				<!--<td><%#= article.rating %> Stars</td>-->
				<!--<td><%#= link_to("Show", article_path(article.id))%></td>-->
				<!--<td><%#= link_to("Edit", edit_article_path(article.id))%></td>-->
				<!--<td><%#= link_to "Delete", article, method: :delete, data: {confirm: 'Are you sure?'} %></td>-->
			<!--</tr>-->
		<!--<%# end %>-->
	<!--</table>-->

	<div class="panel panel-one">
		<div class="panel-inner">
			<h1>Lorem ipsum dolor sit amet</h1>
			<p>Donec id ipsum odio. Cras accumsan consectetur nibh, vitae pretium dui hendrerit sed. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed ac orci elit. Nunc faucibus eros vulputate purus aliquam vel blandit ligula pharetra.</p>
		</div>
	</div>

	<div class="panel panel-two">
		<div class="panel-inner">
			<h2>Lorem ipsum dolor sit amet</h2>
			<p>Donec id ipsum odio. Cras accumsan consectetur nibh, vitae pretium dui hendrerit sed. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed ac orci elit. Nunc faucibus eros vulputate purus aliquam vel blandit ligula pharetra.</p>
		</div>
	</div>

	<div class="panel panel-three">
		<div class="panel-inner">
			<h3>Lorem ipsum dolor sit amet</h3>
			<p>Donec id ipsum odio. Cras accumsan consectetur nibh, vitae pretium dui hendrerit sed. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed ac orci elit. Nunc faucibus eros vulputate purus aliquam vel blandit ligula pharetra.</p>
		</div>
	</div>

</div>
<p><p>
<%#= link_to("New", new_article_path) %>
