	KPR Accounting - You Like You Buy!

	<br><br>
<div class="main">


	<table>
		<th>Clients</th>
		<th>Projects</th>
		<th>Projections</th>

		<% @articles.each do |a| %>
			<tr>
				<td>a.title</td>
				<td>a.body</td>
				<td>a.rating</td>
			</tr>

		<% end %>
	</table>


</div>
