/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
/* line 1, /Users/seanriordan08/Desktop/code/seanvelope/app/assets/stylesheets/global.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 28, /Users/seanriordan08/Desktop/code/seanvelope/app/assets/stylesheets/global.scss */
.blue_text {
  color: #114aaa;
}

/* line 31, /Users/seanriordan08/Desktop/code/seanvelope/app/assets/stylesheets/global.scss */
.blue_bg {
  background-color: #114aaa;
}

/* line 34, /Users/seanriordan08/Desktop/code/seanvelope/app/assets/stylesheets/global.scss */
.black_text {
  color: #1C2321;
}

/* line 37, /Users/seanriordan08/Desktop/code/seanvelope/app/assets/stylesheets/global.scss */
.white_bg {
  background-color: #F1FFFA;
}

/* line 40, /Users/seanriordan08/Desktop/code/seanvelope/app/assets/stylesheets/global.scss */
.green_bg {
  background-color: #A7CEC6;
}

/* line 43, /Users/seanriordan08/Desktop/code/seanvelope/app/assets/stylesheets/global.scss */
.brown_bg {
  background-color: #37393A;
}

/* line 46, /Users/seanriordan08/Desktop/code/seanvelope/app/assets/stylesheets/global.scss */
.black_bg {
  background-color: #1C2321;
}

/* line 50, /Users/seanriordan08/Desktop/code/seanvelope/app/assets/stylesheets/global.scss */
html {
  height: 100%;
  overflow: auto;
}

/* line 55, /Users/seanriordan08/Desktop/code/seanvelope/app/assets/stylesheets/global.scss */
body {
  height: 100%;
  color: #1C2321;
  overflow: auto;
}
/* line 60, /Users/seanriordan08/Desktop/code/seanvelope/app/assets/stylesheets/global.scss */
body .main {
  width: 100%;
  height: 100%;
  overflow: auto;
}

/* line 19, /Users/seanriordan08/Desktop/code/seanvelope/app/assets/stylesheets/section_one.scss */
.section_one {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
/* line 24, /Users/seanriordan08/Desktop/code/seanvelope/app/assets/stylesheets/section_one.scss */
.section_one .about_me_pic {
  display: inline-block;
  width: 25%;
  height: 100%;
  margin: -4px;
  background: transparent url(/assets/seanvelope_selfie-a4b572837b37f64f5e1afa0360c916f8ef880c3d0a6479539490892ea1e319ff.jpg) no-repeat;
  background-size: cover;
  z-index: 1;
}
/* line 32, /Users/seanriordan08/Desktop/code/seanvelope/app/assets/stylesheets/section_one.scss */
.section_one .about_me_pic .selfie_img {
  position: relative;
  display: inline-block;
  top: 0;
  left: 0;
  height: 100%;
  width: auto;
  z-index: 1;
}
/* line 41, /Users/seanriordan08/Desktop/code/seanvelope/app/assets/stylesheets/section_one.scss */
.section_one .about_me_pic .badge {
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  width: inherit;
  padding: 15px 40px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #F1FFFA;
}
/* line 50, /Users/seanriordan08/Desktop/code/seanvelope/app/assets/stylesheets/section_one.scss */
.section_one .about_me_pic .badge .subsection_name {
  width: 100%;
  font-family: 'Permanent Marker', cursive;
  font-size: 3vw;
  line-height: 48px;
}
/* line 56, /Users/seanriordan08/Desktop/code/seanvelope/app/assets/stylesheets/section_one.scss */
.section_one .about_me_pic .badge .subsection_slogan {
  font-family: 'EB Garamond', serif;
  font-size: 18px;
}
/* line 62, /Users/seanriordan08/Desktop/code/seanvelope/app/assets/stylesheets/section_one.scss */
.section_one .pro_stats {
  position: relative;
  display: inline-block;
  width: 25%;
  height: 100%;
  margin: 0 0 -4px 0;
  background-color: #114aaa;
}
/* line 69, /Users/seanriordan08/Desktop/code/seanvelope/app/assets/stylesheets/section_one.scss */
.section_one .pro_stats .stats {
  position: absolute;
  bottom: 265px;
  left: 12%;
  width: 75%;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  color: #F1FFFA;
}
/* line 77, /Users/seanriordan08/Desktop/code/seanvelope/app/assets/stylesheets/section_one.scss */
.section_one .pro_stats .stats .stat {
  margin-top: 15px;
}
/* line 79, /Users/seanriordan08/Desktop/code/seanvelope/app/assets/stylesheets/section_one.scss */
.section_one .pro_stats .stats .stat .stat_title {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #F1FFFA;
}
/* line 84, /Users/seanriordan08/Desktop/code/seanvelope/app/assets/stylesheets/section_one.scss */
.section_one .pro_stats .stats .stat .stat_bar {
  position: relative;
  width: 100%;
  height: 10px;
  margin-top: 5px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
}
/* line 91, /Users/seanriordan08/Desktop/code/seanvelope/app/assets/stylesheets/section_one.scss */
.section_one .pro_stats .stats .stat .stat_bar .stat_level, .section_one .pro_stats .stats .stat .stat_bar .ruby, .section_one .pro_stats .stats .stat .stat_bar .design, .section_one .pro_stats .stats .stat .stat_bar .javascript, .section_one .pro_stats .stats .stat .stat_bar .testing, .section_one .pro_stats .stats .stat .stat_bar .dev_ops {
  position: absolute;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: inherit;
  box-shadow: 1px 0 1px 0 #555555;
}
/* line 98, /Users/seanriordan08/Desktop/code/seanvelope/app/assets/stylesheets/section_one.scss */
.section_one .pro_stats .stats .stat .stat_bar .ruby {
  width: 75%;
}
/* line 99, /Users/seanriordan08/Desktop/code/seanvelope/app/assets/stylesheets/section_one.scss */
.section_one .pro_stats .stats .stat .stat_bar .design {
  width: 75%;
}
/* line 100, /Users/seanriordan08/Desktop/code/seanvelope/app/assets/stylesheets/section_one.scss */
.section_one .pro_stats .stats .stat .stat_bar .javascript {
  width: 60%;
}
/* line 101, /Users/seanriordan08/Desktop/code/seanvelope/app/assets/stylesheets/section_one.scss */
.section_one .pro_stats .stats .stat .stat_bar .testing {
  width: 80%;
}
/* line 102, /Users/seanriordan08/Desktop/code/seanvelope/app/assets/stylesheets/section_one.scss */
.section_one .pro_stats .stats .stat .stat_bar .dev_ops {
  width: 45%;
}
/* line 106, /Users/seanriordan08/Desktop/code/seanvelope/app/assets/stylesheets/section_one.scss */
.section_one .pro_stats .about_me {
  position: absolute;
  bottom: 15px;
  left: 12%;
  width: 75%;
  height: 200px;
  line-height: 20px;
  color: #F1FFFA;
  border-radius: 5px;
  z-index: 1;
}
/* line 116, /Users/seanriordan08/Desktop/code/seanvelope/app/assets/stylesheets/section_one.scss */
.section_one .pro_stats .about_me h2 {
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  color: #F1FFFA;
}
/* line 124, /Users/seanriordan08/Desktop/code/seanvelope/app/assets/stylesheets/section_one.scss */
.section_one .accent_title {
  position: absolute;
  top: -60px;
  left: 0;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 17.25vw;
  line-height: 41px;
  z-index: 1;
  color: rgba(200, 200, 200, 0.5);
}
/* line 136, /Users/seanriordan08/Desktop/code/seanvelope/app/assets/stylesheets/section_one.scss */
.section_one .process_column {
  background-color: rgba(255, 255, 255, 0.5);
}
/* line 140, /Users/seanriordan08/Desktop/code/seanvelope/app/assets/stylesheets/section_one.scss */
.section_one .sidebar {
  position: absolute;
  top: 120px;
  right: 0;
  display: inline-block;
  width: 28%;
  height: auto;
  text-align: center;
  color: #F1FFFA;
  font-family: 'Roboto', serif;
  font-size: 1.4em;
  border-radius: 3px;
  z-index: 3;
}
/* line 153, /Users/seanriordan08/Desktop/code/seanvelope/app/assets/stylesheets/section_one.scss */
.section_one .sidebar h1 {
  font-family: 'Roboto', serif;
}
/* line 156, /Users/seanriordan08/Desktop/code/seanvelope/app/assets/stylesheets/section_one.scss */
.section_one .sidebar .thumbnail {
  display: inline-block;
  width: 70%;
  height: auto;
  margin-bottom: 10px;
  text-align: center;
}
/* line 162, /Users/seanriordan08/Desktop/code/seanvelope/app/assets/stylesheets/section_one.scss */
.section_one .sidebar .thumbnail .wrap {
  width: 100%;
  margin: 0 auto;
  height: 200px;
}
/* line 166, /Users/seanriordan08/Desktop/code/seanvelope/app/assets/stylesheets/section_one.scss */
.section_one .sidebar .thumbnail .wrap .frame {
  display: block;
  width: 200%;
  height: 400px;
  border: 2px solid #000;
  -moz-transform: scale(0.5);
  -moz-transform-origin: 0 0;
  -o-transform: scale(0.5);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(0.5);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
/* line 175, /Users/seanriordan08/Desktop/code/seanvelope/app/assets/stylesheets/section_one.scss */
.section_one .sidebar .thumbnail a.caption {
  display: block;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: #1C2321;
  margin: 10px 0 0 0;
}
