
%canvas(id="partsChart" width="1500px" height="1500px")

:javascript
  var dyn_width = $('.focus_pane').width() + 'px'
  $('canvas').attr('height', dyn_width);

  var dyn_height = $('.focus_pane').height() + 'px'
  $('canvas').attr('height', dyn_height);
  var ctx = $("#partsChart");
  var myChart = new Chart(ctx, {
    data: {
      labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec'],
      datasets: [{
        type: 'line',
        label: 'Plugs Sold',
        data: #{get_monthly_plugs_sold[:array]},
        backgroundColor: "rgba(75, 192, 192, 0.2)",
        borderColor: "rgba(75, 192, 192, 1)",
        pointRadius: 3,
        pointHoverRadius: 5,
        borderWidth: 1
      }]
    },
    options: {
      responsive: true,
      responsiveAnimationDuration: 1000,
      maintainAspectRatio: false,
      scaleFontColor: "#fff",
      scales: {
        xAxes: [{
          scaleLabel: {
            display: true,
            labelString: "#{get_monthly_plugs_sold[:x_label]}"
          },
          gridLines: {
            display: true,
          },
          ticks: {
            beginAtZero:true,
            fontColor: "#9faeaf"
          }
        }],
        yAxes: [{
            stacked: true,
            scaleLabel: {
            display: true,
            labelString: "#{get_monthly_plugs_sold[:y_label]}"
          },
          ticks: {
            beginAtZero:true,
            fontColor: "#9faeaf"
          }
        }]
      }
    }
  });