<div class="image_box">
	<div class="pic float_left"><img src="/assets/sean.jpg"></div>
	<div class="pic float_left"><img src="/assets/peak.png"></div>
	<div class="pic float_left"><img src="/assets/bear.png"></div>
	<div class="pic float_left"><img src="/assets/aurora.png"></div>
</div>