#galaxy
:javascript
  $('#galaxy').particleground({
  	dotColor: 'rgba(255,255,255,.4)',
  	lineColor: 'rgba(255,255,255,.02)',
  	parallax: false,
  	minSpeedX: 0.01,
  	minSpeedY: 0.01,
  	maxSpeedX: 0.08,
  	maxSpeedY: 0.08,
  	particleRadius: 3
  });