<div class="header">
	<div class="logo_text">seanvel</div><img class="logo_img" src="/assets/sean.jpg"><div class="logo_text">pe</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$("#nav_signin").on("click", function() {
			if ($('#sign_in_form').is(":visible")){
				$('#sign_in_form').fadeOut(100);
			} else {
				$('#sign_in_form').fadeIn(200).attr('tabindex', -1).focus();
			}
		});

		$(document).mouseup(function (e)
		{
			var container = $('#sign_in_form');
			if (!container.is(e.target) // if the target of the click isn't the container...
				&& container.has(e.target).length === 0) // ... nor a descendant of the container
			{
				container.fadeOut(300);
			}
		});

		<% if flash[:error] %>
			$('#nav_signin').trigger("click");
		<% end %>
	});
</script>