.thumbnail
  .wrap
    = image_tag("bear.png", size: "200x200", alt: "Edit Entry")
  %a.caption{:href => "http://visitcrcc.com", :target => "_blank"} CastleRock Community Church
.thumbnail
  .wrap
    = image_tag("aurora.png", size: "200x200", alt: "Edit Entry")
  KPR Accountancy
.thumbnail
  .wrap
    = image_tag("peak.png", size: "200x200", alt: "Edit Entry")
  %a.caption{:href => "http://akbrownbag.com", :target => "_blank"} Brown Bag Sandwich Co