<div class="sidebar">
	<h1>Work</h1>

	<div class="thumbnail">
		<div class="wrap">
			<iframe class="frame" src="http://kpraccountancy.com"></iframe>
		</div>
		<a class="caption" href="http://kpraccountancy.com" target="_blank">KPR Accountancy</a>
	</div>

	<div class="thumbnail">
		<div class="wrap">
			<iframe class="frame" src="http://akbrownbag.com"></iframe>
		</div>
		<a class="caption" href="http://akbrownbag.com" target="_blank">Brown Bag Sandwich Co</a>
	</div>
</div>