
.title CUSTOMERS

= form_for BasinMetrics::Customer.new, :method => :post, html: {class: 'create_line_form'}, remote: true do |f|
  = f.text_field "name", placeholder: "customer name"
  = f.submit "Submit"
  = link_to "cancel", '/basin_metrics/customers', remote: true