// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//https://coolors.co/ccdbdc-298889-364a56-2d3d47-243038
$basin_white: #CCDBDC;
$basin_dkwhite: #9faeaf;
$basin_black: #243038;
$basin_ltblack: #2D3D47;
$basin_gray: #364A56;
$basin_primary: #298889;
$basin_highlight: #33A8AA;

$bar_width: 80px;
$option_height: 40px;

.dashboard {
  height: 100%;
  background-color: $basin_black;
  overflow: auto;

  a{
    color: #298889;
    &:hover {
      color: #33A8AA;
    }
  }

  .sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: $bar_width;
    height: 100%;
    border-right: 1px solid $basin_black;
    background-color: $basin_ltblack;
    box-shadow: -1px 0 2px 0 #000;
    z-index: 1;

    ul {
      width: 100%;
      li {
        width: 100%;
        height: 80px;
        padding: 23px 0;
        text-align: center;
        border-right: 3px solid transparent;
        transition: .18s;
      }
      .logo_icon {
        color: $basin_primary;
        cursor: default;
      }
      .actionable {
        color: $basin_white;
        cursor: pointer;
        &:hover {
          background-color: $basin_gray;
        }
      }
    }

  }
}