// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//https://coolors.co/ccdbdc-298889-364a56-2d3d47-243038
$basin_black: #243038;
$basin_ltblack: #2D3D47;
$basin_gray: #364A56;
$basin_ltgray: #56717d;
$basin_dkwhite: #9faeaf; //rgba(159,174,175,1)
$basin_white: #CCDBDC;
$basin_primary: #298889;
$basin_highlight: #33A8AA;
$basin_red: #D33C37;

$bar_width: 80px;
$option_height: 40px;

.dashboard {
  height: 100%;
  background-color: $basin_black;
  overflow-y: auto;
  overflow-x: hidden;

  a{
    color: $basin_primary;
    &:hover {
      color: $basin_highlight;
    }
  }

  table    { display: table; width: 100% }
  tr       { display: table-row }
  thead    { display: table-header-group }
  tbody    { display: table-row-group; width: inherit }
  tfoot    { display: table-footer-group }
  col      { display: table-column }
  colgroup { display: table-column-group }
  td, th   { display: table-cell; height: 31px; padding: 1px 3px 0 3px; }
  caption  { display: table-caption }

  .date_selector, .datetime_selector {
    width: 100%;
    height: inherit;
    padding: 0;
    color:  $basin_white;
    background-color: inherit;
    border: none;
    cursor: pointer;
    box-shadow: none;
  }

  .close_circle {
    position: absolute;
    top: -5px;
    right: -5px;
    padding: 5px;
    background-color: $basin_ltblack;
    border-radius: 20px;
    box-shadow: -1px 1px 1px 0 #222;
    a {
      text-decoration: none;
      color: $basin_dkwhite;
      &:hover {
        color: $basin_primary;
        transition: .15s;
      }
      i {
        display: block;
      }
    }
  }

  .action_circle {
    visibility: hidden;
    position: relative;
    vertical-align: middle;
    line-height: 100%;
    border-bottom: none;
    text-align: center;
    a {
      text-decoration: none;
      i {
        display: block;
        margin: 0 auto;
      }
    }
  }

  .remove_circle {
    @extend .action_circle;
    a {
      color: $basin_dkwhite;
      &:hover {
        color: $basin_red;
      }
    }
  }

  .examine_circle {
    @extend .action_circle;
    a {
      color: $basin_dkwhite;
      &:hover {
        color: $basin_highlight;
      }
      i {
        padding-top: 3px;
      }
    }
  }
}