
$record_height: 25px;

.main_pane {
  .list_pane {
    position: relative;
    background-color: $basin_black;
    min-height: 50%;
    height: auto;
    margin: 0 0 0 2%;
    padding: 10px 2% 0 0;

    .list_options {
      display: inline-block;
      width: 100%;
      margin-bottom: 5px;
      height: $record_height;
      line-height: $record_height;

      .title {
        position: relative;
        float: left;
        text-align: left;
        margin-right: 10px;
        font-family: 'Raleway', sans-serif;
        font-size: 19px;
        vertical-align: middle;
      }

      a {
        float: left;
      }

      .well_form {
        float: left;
        margin-left: 25px;
        input, select {
          color: $basin_white;
          background-color: $basin_ltblack;
          border: 1px solid $basin_gray;
        }
        a, input {
          position: relative;
          vertical-align: middle;
          float: none;
          height: 23px;
          line-height: 100%;
        }
      }
    }

    .list_content {

      .well_heading {
        padding-right: 10px;
      }

      .no_record {
        height: $record_height;
        line-height: $record_height;
        padding-bottom: 5px;
      }

      .well_record {
        @extend .no_record;
        padding-right: 10px;
        border-bottom: 1px solid $basin_ltblack;

        &:hover {
          background-color: $basin_ltblack;
          cursor: pointer;
        }

        .remove_circle {
          visibility: hidden;
          position: relative;
          vertical-align: middle;
          line-height: 100%;
          border-bottom: none;
          &:hover {
            color: rgb(211,60,55);
          }
        }
      }

      .record_attribute {
        position: relative;
        vertical-align: middle;
      }

    }

  }
}
