
$record_height: 25px;

.main_pane {
  .list_pane {
    position: relative;
    background-color: $basin_black;
    min-height: 50%;
    height: auto;
    margin: 0 0 0 2%;
    padding: 10px 2% 0 0;

    select {
      width: 100%;
      height: 100%;
      color: #CCDBDC;
      background-color: transparent;
      border: none;
      border-radius: 0;
    }

    .list_options {
      display: inline-block;
      width: 100%;
      margin-bottom: 5px;
      height: $record_height;
      line-height: $record_height;

      .title {
        position: relative;
        float: left;
        text-align: left;
        margin-right: 10px;
        font-family: 'Raleway', sans-serif;
        font-size: 19px;
        vertical-align: middle;
      }

      a {
        float: left;
      }

      .create_line_form {
        float: left;
        margin-left: 25px;
        a, input {
          position: relative;
          vertical-align: middle;
          float: none;
          height: 23px;
          line-height: 100%;
        }
      }
    }

    .list_content {

      .list_heading {
        padding-right: 10px;
      }

      .no_record {
        height: $record_height;
        line-height: $record_height;
        padding-bottom: 5px;
      }

      .list_record {
        @extend .no_record;
        padding-right: 10px;

        &:hover {
          background-color: $basin_ltblack;
          cursor: pointer;
        }

        .record_attribute {
          position: relative;
          vertical-align: middle;
          background-color: transparent;
          border-bottom: 1px solid $basin_ltblack;
        }
      }

      .customer_record {
        @extend .list_record;
      }

      .district_record {
        @extend .list_record;
      }

      .well_record {
        @extend .list_record;
        .nullable {
          color: $basin_white;
          font-style: italic;
        }
      }

      .part_record {
        @extend .list_record;
      }

    }
  }
}
