
$bar_total_height: calc(#{$bar_width} + #{$option_height});

.main_pane {
  position: relative;
  top: 0;
  left: $bar_width;
  width: calc(100% - 80px);
  height: calc(100% - #{$bar_total_height});
  color: $basin_white;
  background-color: $basin_black;
  border-radius: 0;

  .focus_pane {
    position: relative;
    background-color: #AAA;
    height: 50%;
  }

}
