.sidebar {

  .tab_panel {
    position: absolute;
    left: 79px;
    padding: 10px 0 10px 10px;
    opacity: 0;
    width: 150px;
    height: auto;
    border-left: 1px solid $basin_highlight;
    color: $basin_white;
    background-color: $basin_ltblack;
    border-radius: 0 2px 2px 0;
    box-shadow: 1px 1px 3px 0 #1C1C1C;
    z-index: 2;

    ul {
      list-style: none;
      li {
        padding: 0;
        text-align: left;
        height: auto;
        &:hover {
          background-color: $basin_gray;
        }
        span {
          position: relative;
          top: 0;
        }
      }
    }
  }

}
