
.list_options
  = link_to "Add Well", { controller: 'basin_metrics/wells', action: 'new' }, remote: true

- wells_object = JSON.parse(wells)
- if wells_object.present?
  .well_record
    - wells_object.each do |well|
      = well['name']
- else
  No Wells Added