
.color_box {
  display: inline-block;
  text-align: left;
  width: 20px;
  height: 37px;
  border-radius: 0 3px 3px 0;
}

.main {
  height: 100%;

  .section_two {
    position: relative;
    width: 100%;
    height: 100%;
    .image_column {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      display: inline-block;
      height: 100%;
      width: auto;
    }
  }
}