
@font-face {
  font-family: 'bebas';
  src: font-url('bebas.ttf');
}

.section_two {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;

  .process_column {
    background-color: rgba(255,255,255,.5);
  }

  .sidebar {
    position: absolute;
    top: 120px;
    right: 0;
    display: inline-block;
    width: 28%;
    height: auto;
    text-align: center;
    color: $white;
    font-family: 'Roboto', serif;
    font-size: 1.4em;
    border-radius: 3px;
    z-index: 3;
    h1 {
      font-family: 'Roboto', serif;
    }
    .thumbnail {
      display: inline-block;
      width: 70%;
      height: auto;
      margin-bottom: 10px;
      text-align: center;
      font-family: 'bebas', sans-serif;
      .wrap {
        width: 100%;
        margin: 0 auto;
        height: 200px;
        .frame {

        }
      }
      a.caption {
        display: block;
        font-family: 'bebas', sans-serif;
        text-decoration: none;
        color: $black;
        margin: 10px 0 0 0;
      }
    }
  }

}