
$stat_heading: 1.5vw;

@mixin iframe_scale($aspect) {
  -moz-transform: scale($aspect);
  -moz-transform-origin: 0 0;
  -o-transform: scale($aspect);
  -o-transform-origin: 0 0;
  -webkit-transform: scale($aspect);
  -webkit-transform-origin: 0 0;
}

@mixin origin_position($x, $y) {
  -ms-transform-origin: $x $y;
  -moz-transform-origin: $x $y;
  -o-transform-origin: $x $y;
  -webkit-transform-origin: $x $y;
  transform-origin: $x $y;
}

.section_one {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 561px;
  overflow-x: hidden;
  .about_me_pic {
    position: relative;
    display: inline-block;
    width: 25%;
    height: 100%;
    margin: -4px;
    background: rgba(255,255,255,.8) image-url("seanvelope_selfie.jpg") no-repeat;
    background-size: cover;
    z-index: 1;
    .selfie_img {
      position: absolute;
      display: inline-block;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: transparent image-url("seanvelope_selfie.jpg") no-repeat;
      background-size: cover;
      z-index: 1;
    }
    .selfie_overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.4);
    }
    .selfie_circle {
      position: absolute;
      top: 0;
      left: 0;
      width: 50px;
      height: 50px;
      background-color: rgba(255, 255, 255, 0.1);
    }
    .badge {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      display: inline-block;
      padding: 15px 40px;
      background-color: rgba(0,0,0,.5);
      color: $white;
      border-radius: 0;
      z-index: 1;
      .subsection_name {
        width: 100%;
        font-family: 'Permanent Marker', cursive;
        font-size: 3vw;
        line-height: 48px;
      }
      .subsection_slogan {
        font-family: 'EB Garamond', serif;
        font-size: 1.3vw;
      }
    }
  }
  .pro_stats {
    position: relative;
    display: inline-block;
    width: 25%;
    height: 100%;
    margin: 0 0 -4px 0;
    background-color: $blue;
    .stats {
      position: absolute;
      bottom: 265px;
      left: 8%;
      width: 83%;
      font-family: 'Roboto', sans-serif;
      font-size: $stat_heading;
      color: $white;
      overflow: hidden;
      .stat {
        margin-top: 15px;
        .stat_title {
          font-family: 'Roboto', sans-serif;
          font-size: 1.2vw;
          color: $white;
        }
        .stat_bar {
          position: relative;
          width: 100%;
          height: 10px;
          margin-top: 5px;
          background-color: rgba(255,255,255,.3);
          border-radius: 8px;
          .stat_level {
            position: absolute;
            height: 10px;
            background-color: rgba(255,255,255,.7);
            border-radius: inherit;
            box-shadow: 1px 0 1px 0 rgb(85, 85, 85);
          }
          .ruby, .design, .javascript, .testing, .dev_ops {@extend .stat_level; width: 5%}
        }
      }
    }
    .about_me {
      position: absolute;
      bottom: 20px;
      left: 8%;
      width: 80%;
      height: 200px;
      color: $white;
      border-radius: 5px;
      z-index: 1;
      h2 {
        margin-bottom: 20px;
        font-family: 'Roboto', sans-serif;
        font-size: $stat_heading;
        color: $white;
      }
      .about_me_content {
        @media screen and (max-width: 1270px) {
          font-size: 1.3vw;
          line-height: 18px;
        }
        @media screen and (min-width: 1271px) and (max-width: 1590px) {
          font-size: 1.2vw;
        }
        @media screen and (min-width: 1591px) {
          font-size: 1.1em;
        }
      }
    }
  }
  .accent_title {
    position: absolute;
    top: -60px;
    left: 0;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 17.25vw;
    line-height: 41px;
    z-index: 1;
    color: rgba(200, 200, 200, .5);
  }

  .process_column {
    background-color: rgba(255,255,255,.5);
  }

  .sidebar {
    position: absolute;
    top: 120px;
    right: 0;
    display: inline-block;
    width: 28%;
    height: auto;
    text-align: center;
    color: $white;
    font-family: 'Roboto', serif;
    font-size: 1.4em;
    border-radius: 3px;
    z-index: 3;
    h1 {
      font-family: 'Roboto', serif;
    }
    .thumbnail {
      display: inline-block;
      width: 70%;
      height: auto;
      margin-bottom: 10px;
      text-align: center;
      .wrap {
        width: 100%;
        margin: 0 auto;
        height: 200px;
        .frame {
          display: block;
          width: 200%;
          height: 400px;
          border: 2px solid #000;
          @include iframe_scale(.5);
          @include origin_position(0,0);
        }
      }
      a.caption {
        display: block;
        font-family: 'Roboto', sans-serif;
        text-decoration: none;
        color: $black;
        margin: 10px 0 0 0;
      }
    }
  }

}