@font-face {
  font-family: "Hetilica";
  src: url("/assets/hetilica.ttf") format("truetype");
}

@mixin cover(){
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html {
  width: 100%;
  min-height: 100%;
}

.float_left {
  float: left;
}

.float_right {
  float: right;
}

.center {
  text-align: center;
}

body {
  width: 100%;
  min-height: 100%;
  background: -webkit-linear-gradient(90deg, rgba(0,0,0,.5), transparent 30%), url("/assets/road_bg.png") no-repeat 0 0 fixed;
  @include cover;
  overflow-y: scroll;
}

.header {
  position: fixed;
  top: -20px;
  left: 0;
  bottom: auto;
  width: 100%;
  height: auto;
  transform: skewY(-4deg);
  color: whitesmoke;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 3;
  ul {
    padding: 15px 10px;
    list-style: none;
    li {
      display: inline;
      cursor: pointer;
      &:before {
        padding: 0 10px;
        color: whitesmoke;
        content: " | ";
      }
      &:nth-child(2):before {
        content: "";
      }
      &:hover {
        color: #888;
      }
    }
    #nav_signout {
      color: whitesmoke;
      &:before {
        content: "";
      }
      a {
        color: inherit;
        text-decoration: none;
      }
    }
  }
  .logo_text {
    font-family: "Hetilica", sans-serif;
    font-size: 5em;
    color: rgba(255,255,255,.8);
    &:before {
      content: "";
    }
  }
  .nav_links {
    padding-right: 40px;
    float: right;
  }
}

.image_box {
  position: absolute;
  display: inline-block;
  height: auto;
  overflow: auto;
  right: 0;
  bottom: 50px;

  .pic {
    margin: 10px;
    img {
      border-radius: 100px;
    }
  }
}

#galaxy {
  position: fixed;
  top: 0;
  left: 0;
  bottom: auto;
  width: 100%;
  height: 40%;
  background: -webkit-linear-gradient(180deg, rgba(0,0,0,.3), transparent);
  background:    -moz-linear-gradient(180deg, rgba(0,0,0,.3), transparent);
  background:         linear-gradient(180deg, rgba(0,0,0,.3), transparent);
}

#diagmonds {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40%;
}