@font-face {
  font-family: "virgo";
  src: url("/assets/virgo.ttf") format("truetype");
}

$seanvelope_white: rgba(255,255,255,.8);

@mixin border-box() {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin cover() {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@mixin gradient() {
  background: -moz-linear-gradient(top, rgba(50,50,50,.85), transparent);
  background: -webkit-linear-gradient(top, rgba(50,50,50,.85), transparent);
}

@mixin iframe_scale($aspect) {
  -moz-transform: scale($aspect);
  -moz-transform-origin: 0 0;
  -o-transform: scale($aspect);
  -o-transform-origin: 0 0;
  -webkit-transform: scale($aspect);
  -webkit-transform-origin: 0 0;
}

@mixin origin_position($x, $y) {
  -ms-transform-origin: $x $y;
  -moz-transform-origin: $x $y;
  -o-transform-origin: $x $y;
  -webkit-transform-origin: $x $y;
  transform-origin: $x $y;
}

html {
  width: 100%;
  min-height: 100%;
}

.float_left {
  float: left;
}

.float_right {
  float: right;
}

.center {
  text-align: center;
}

h1 {
  margin: 10px 0;
}

body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  background: -webkit-linear-gradient(90deg, rgba(0,0,0,.5), transparent 30%), url("/assets/road_bg.png") no-repeat 0 0 fixed;
  @include cover;
  overflow-y: scroll;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: auto;
  width: 100%;
  height: auto;
  padding-left: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 4;
  .logo_img {
    position: relative;
    display: inline;
    vertical-align: middle;
    border: 5px solid #333;
    box-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    opacity: 0.8;
    border-radius: 55px;
  }
  .logo_text {
    position: relative;
    display: inline;
    vertical-align: middle;
    font-family: "virgo", sans-serif;
    font-size: 7em;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    color: #222;
    opacity: 0.5;
  }
}

.sidebar {
  position: fixed;
  margin: 180px 0 0 3%;
  padding: 1em;
  float: right;
  width: 28%;
  height: 200px;
  text-align: center;
  color: $seanvelope_white;
  font-family: 'Lora', serif;
  font-size: 1.4em;
  border-radius: 3px;
  z-index: 3;
  @include gradient;
  h1 {
    font-family: 'Roboto', serif;
  }
  .thumbnail {
    display: inline-block;
    width: 100%;
    height: auto;
    .wrap {
      width: 100%;
      height: 200px;
      .frame {
        display: block;
        width: 800px;
        height: 600px;
        @include iframe_scale(.2);
        @include origin_position(0,0);
      }
    }
    a.caption {
      text-decoration: none;
      color: $seanvelope_white;
      text-align: center;
    }
  }
}


#galaxy {
  position: fixed;
  top: 0;
  left: 0;
  bottom: auto;
  width: 100%;
  height: 40%;
  background: -webkit-linear-gradient(180deg, rgba(0,0,0,.3), transparent);
  background:    -moz-linear-gradient(180deg, rgba(0,0,0,.3), transparent);
  background:         linear-gradient(180deg, rgba(0,0,0,.3), transparent);
}

.panel {
  position: relative;
  margin: 180px 3% 0 0;
  float: right;
  width: 60%;
  min-height: 600px;
  font-family: 'Lora', serif;
  font-size: 1.4em;
  z-index: 3;
  h1 {
    font-family: 'Roboto', serif;
  }
}

.panel-inner {
  padding: 1em;
  @include border-box;
}

.panel-fixed {
  z-index: 1;
  .panel-inner {
    position: fixed;
    top: 180px;
    right: 3%;
    width: 60%;
    min-height: 600px;
    border-radius: 3px;
    color: rgba(250,250,250,.8);
    @include gradient;
    z-index: 2;
    h1 {
      font-family: 'Roboto', serif;
    }
  }
}

.panel-queued {
  color: rgba(0,0,0,.3);
}